<h1 class='well text-center'> Welcome to URLockbox </h1>


<% if !current_user %>
<H3 class='well text-center'><%= link_to "Log in", login_path %> or <%= link_to "Sign Up.", new_user_path %></h3>
<% end %>
